h1 {
    font-size: 55px;
    font-family: 'Pokemon Solid', sans-serif;
                                                
}

.name {
    font-size: 30px;
}

.type {
    font-size: 30px;
}

.stats {
    font-size: 30px;
}